body {
  color: #314659;
}

ul, li {
  list-style: none;
}

a {
  color: #314659;
  text-decoration: none;
}

.wrapper {
  width: 60%;
  min-width: 576px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  height: 40px;
  margin: 0 8px 12px 0;
  padding: 0 15px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: 0;
  line-height: 1.5;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
  background-color: #fff;
  color: rgba(0,0,0,0.65);
  cursor: pointer;
}
.btn:hover {
  color: #1890ff;
  border-color: #1890ff;
}
.btn.btn-primary {
  color: #fff;
  background-color: #1890ff;
  border: 1px solid #1890ff;
}
.btn.btn-primary:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

/* 提示信息 */
.message {
  position: fixed;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 24px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgba(0,0,0,0.65);
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 999;
  transition: all linear 0.2s;
}

.tips {
  text-align: center;
  color: rgba(0,0,0,0.65);
}

/* 头部 */
.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .welcome {
  font-size: 18px;
  color: #1890ff;
}
.header .nav {
  display: flex;
  margin: 0;
  text-align: center;
}
.header .nav-item {
  position: relative;
  min-width: 76px;
  height: 64px;
  line-height: 64px;
  font-size: 16px;
  color: #314659;
}
.header .nav-item.active,
.header .nav-item:hover {
  color: #1890ff;
}
.header .nav-item > a {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* 表单 */
.form {
  width: 100%;
  min-width: 420px;
  margin: 20px auto;
}
.form .form-item {
  position: relative;
  line-height: 40px;
  margin-bottom: 20px;
}
.form .form-item label {
  display: inline-block;
  width: 20%;
  text-align: right;
}
.form .form-item input, textarea {
  box-sizing: border-box;
  width: 78%;
  height: 32px;
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  color: rgba(0,0,0,0.65);
  resize:none
}
.form input.hidden {
  display: none;
}
.form .form-item textarea {
 height: 100%;
}
.form-vertical .form-item label {
  width: 100%;
  text-align: left;
}
.form-vertical .form-item input, textarea {
  width: 100%;
}
.form-login,
.form-register {
  width: 500px;
}
.form-register .preview {
  display: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* 文章列表 */
.list {
  padding: 24px 16px;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}
.list .list-item {
  padding: 12px 0 8px;
  border-bottom: 1px solid #ebedf0;
}
.list .list-item-header {
  height: 42px;
  line-height: 42px;
  display: flex;
  align-items: center;
}
.list .list-item-header .avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.list .list-item-header .title {
  flex: 1;
  font-size: 16px;
  color: rgba(0,0,0,0.85);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list .list-item-header .title a:hover {
  color: #1890ff;
}
.list .list-item-body {
  margin: 12px 0;
  line-height: 1.5;
  font-size: 14px;
  word-wrap: break-word;
  text-indent:2em;
  text-align: justify;
  color: rgba(0,0,0,0.65);
  background-image: linear-gradient(-180deg,rgba(255,255,255,0) 0%,#fff 70%);
}
.list .list-item-footer {
  height: 32px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgba(0,0,0,0.45);
}
.list .list-item-footer span {
  display: inline-block;
  margin-right: 5px;
}

/* 文章详情 */
.card {
  padding: 12px;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}
.card .card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.card .card-header .avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-header .desc span {
  margin-right: 5px;
  color: rgba(0,0,0,0.45);
}
.card .card-body .title {
  height: 40px;
  line-height: 40px;
  margin: 0;
  font-size: 18px;
  color: rgba(0,0,0,0.85);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.card .card-body .content {
  padding: 12px 0;
  font-size: 16px;
  color: rgba(0,0,0,0.85);
  word-wrap: break-word;
  text-indent:2em;
  line-height: 1.5;
  text-align: justify;
}
.card .card-footer {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}
.card .card-footer .edit {
  cursor: pointer;
  color: #1890ff;
}
.card .card-footer .delete {
  cursor: pointer;
  margin-left: 20px;
  color: #ff4d4f;
}

/* 评论 */
.comment-wrapper .form-vertical .form-item{
  margin-bottom: 5px;
}
.list.comment-list {
 padding: 10px;
}
.list.comment-list .list-item {
  padding: 10px 0 5px;
  display: flex;
}
.list.comment-list .list-item .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.list.comment-list .list-item-content{
  flex: 1;
}
.list.comment-list .list-item-content .name {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: rgba(0,0,0,0.45);
}
.list.comment-list .list-item-content .comment {
  margin: 5px 0;
  font-size: 16px;
  color: rgba(0,0,0,0.65);
}
.list.comment-list .list-item-content .time {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: rgba(0,0,0,0.45);
}