<%- include('header') %>
  <div class="wrapper">
    <form method="post" class="form form-vertical">
      <div class="form-item">
        <label>标题：</label>
        <input type="text" name="username" placeholder="请输入标题"/>
      </div>
      <div class="form-item">
        <label>内容：</label>
        <textarea name="content" placeholder="请输入内容" rows="12"></textarea>
      </div>
      <div class="center">
        <button class="btn btn-primary">发表</button>
      </div>
    </form>
  </div>
<% include('footer') %>