<%- include('header', {type: 'create'}) %>
<div class="wrapper">
  <form method="post" class="form form-vertical">
    <div class="form-item">
      <label>标题：</label>
      <input type="text" name="title" placeholder="请输入标题"/>
    </div>
    <div class="form-item">
      <label>内容：</label>
      <textarea name="content" placeholder="请输入内容" rows="12"></textarea>
    </div>
    <div class="center">
      <button class="btn btn-primary" id="create">发布文章</button>
    </div>
  </form>
</div>
<script>
$(document).ready(() => {
  $('#create').click(function(e) {
    e.preventDefault()

    const title = $('input[name=title]').val().trim();
    const content = $('textarea[name=content]').val().trim();

    if (!title) {
      return message('请输入文章标题！');
    }
    if (!content) {
      return message('请输入文章内容！');
    }

    // 提交请求
    $.ajax({
      url: '/articles/create',
      type: 'POST',
      data: {title: title, content: content},
      dataType: 'json',
      cache: false,
      success: (res) => {
        if (res.code === 200) {
          message('发表成功');
          setTimeout(() => {
            window.location.href ='/articles/self';
          }, 1000)
        } else {
          message('发表失败');
        }
      }
    })
  })
})

</script>
<% include('footer') %>