<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>simple-blog</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <header class="header wrapper">
    <div class="welcome">欢迎注册登录！</div>
    <ul class="nav">
      <li class="nav-item active"><a href="/articles"></a>全部文章</li>
      <li class="nav-item"><a href="/articles?author=leo"></a>我的文章</li>
      <li class="nav-item"><a href="/create"></a>发表文章</li>
      <li class="nav-item"><a href="/register"></a>注册</li>
      <li class="nav-item"><a href="/login"></a>登录</li>
      <li class="nav-item"><a href="/logout"></a>登出</li>
    </ul>
  </header>
