<%- include('header') %>
  <div class="wrapper">
    <form method="post" class="form login">
      <div class="form-item">
        <label>用户名：</label>
        <input type="text" name="username" placeholder="请输入用户名"/>
      </div>
      <div class="form-item">
        <label>密码：</label>
        <input type="password" name="password" placeholder="请输入密码"/>
      </div>
      <div class="center">
        <button class="btn btn-primary">登录</button>
      </div>
    </form>
  </div>
<% include('footer') %>